.ds{
    color: #000000;
}

.barranav{
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: #000000;
    padding-right: 5px;
}
.barranav a:hover{
    background-color: orange;
    border-radius: 5px;
}
.logo{
    border-radius: 10px;
}
.Pagos{
    border-radius: 30%;
    margin-right: 20px
}
.clientes{
    border-radius: 30%;
    margin-right: 20px;
    justify-content:flex-start;
}
.alineacion{
display: flex;
  justify-content: flex-end;
}
body{
    background-color: rgb(57, 130, 226);
    color: aliceblue;
    text-align: center;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

.fondos{
    position: relative;
    z-index: 1;
    background-color: rgb(25, 141, 170);
    max-width: 360px;
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: center;
    width: 400px;
    text-align: center;
    border-radius: 3px;
}
.fondosM{
    position: relative;
    z-index: 1;
    background-color: rgb(25, 141, 170);
    max-width: 360px;
    padding-bottom: 10px;
    padding-top: 5px;
    justify-content: center;
    width: 400px;
    text-align: center;
}
.Habitacion {
    width: 100px; /* Ancho del rectángulo */
    height: 50px; /* Altura del rectángulo */
    background-color: #ffffff; /* Color de fondo blanco */
    border: 4px solid #000000; /* Borde negro de 2 píxeles */
    margin: 10px; /* Margen entre rectángulos */
    text-align: center;
}
.DS {
    width: 150px; /* Ancho del rectángulo */
    height: 60px; /* Altura del rectángulo */
    background-color: #ffffff; /* Color de fondo blanco */
    border: 4px solid #000000; /* Borde negro de 2 píxeles */
    margin: 10px; /* Margen entre rectángulos */
    text-align: center;
}
.habitacion{
    display: flex;
    flex-wrap: wrap;
}
button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(0, 153, 255);
    border: 0;
    padding: 15px;
    color: #0e0e0e;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
/*Modal de ingreso*/
.ingreso{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}
.cont_ingreso{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    padding: 3em 2.5em;
    background-color: white;
    color: #000000;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}
.close_ingreso{
opacity: 1;
pointer-events: unset;

}